/* Certificate default styles */

.certificate {
  position: relative;
  width: 100%;
  min-height: 718px;
  padding-top: 30px;
  background-image: url("../images/certificate_coral_bg.jpg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.certificate::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  opacity: 0.5;
}

.certificate-inner {
  width: 920px;
  min-height: 656px;
  margin: 0 auto;
  background-color: #334142;
  color: #fff;
}

.certificate__top {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 62px;
}

.certificate__top b {
  font-family: 'Open Sans',sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.certificate-inner h1 {
  line-height: 55px;
  margin-bottom: 5px;
  color: #fff!important;
}

.certificate-inner h2 {
  margin-bottom: 28px;
  padding-left: 5px;
  color: #848e8f!important;
}

.certificate-inner p {
  padding-left: 3px;
  margin-bottom: 0;
}

p.certificate__seller,
p.certificate__number {
  font-size: 18px;
  margin-bottom: 12px;
}

p.certificate__number {
  margin-top: 18px;
  margin-bottom: 2px;
}

.certificate__image,
.certificate__content {
  float: left;
}

.certificate__image {
  width: 290px;
  margin-left: 41px;
  margin-right: 61px;
}

.certificate__content {
  width: 500px;
  padding-top: 3px;
}

.certificate__content a {
  color: #fff!important;
}

.certificate__content a:hover {
  color: #ffa800!important;
}

.certificate-inner .b-item__price {
  padding-top: 39px;
  padding-left: 3px;
  padding-bottom: 66px;
  color: #fff;
}

.certificate__content #ya_share {
  padding-left: 3px;
}

.certificate-preview {
  text-align: center;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 23px;
}

.certificate-preview__item {
  display: inline-block;
  vertical-align: top;
  width: 63px;
  height: 60px;
  margin-right: 3px;
  padding-top: 1px;
  border: 1px solid #ccc;
}

.certificate-preview__item:hover {
  opacity: 0.5;
}

.certificate-preview__item:last-child {
  margin-right: 0;
}

.certificate-preview__item img {
  max-width: 100%;
  max-height: 56px;
}

.certificate-outer .increase,
.certificate-outer button {
  display: inline-block;
  vertical-align: top;
}

.certificate-outer .increase {
  margin-right: 28px;
}

.certificate-outer .increase .b-increment-input__input[type=text] {
  width: 100px;
}

.certificate-outer .b-catalog-item__actions button {
  margin-top: 17px;
}

.certificate-outer #btn_to_cart {
  margin-right: 28px;
  margin-bottom: 36px;
}

.certificate-outer .like_button {
  display: block;
  margin-bottom: 43px;
  padding-left: 27px;
}

.certificate__text {
  background-image: url("../images/certificate_line.png");
  background-repeat: no-repeat;
}

.certificate__text p {
  width: 873px;
  margin: 0 auto;
  padding-top: 32px;
  padding-right: 136px;
  padding-bottom: 6px;
}

/* Certificate light orange styles */

.certificate-inner {
  background-color: #f8f8f8;
  color: #000;
}

.certificate-inner h1 {
  color: #000!important;
}

.certificate__content a {
  color: #177a93!important;
}

.certificate-inner .b-item__price {
  color: #02903d;
}

/* Certificate light grey styles */

.certificate {
  background-image: url("../images/certificate_grey_bg.jpg");
}

.certificate-inner {
  background-color: #f8f8f8;
  color: #000;
}

.certificate-inner h1 {
  color: #000!important;
}

.certificate__content a {
  color: #177a93!important;
}

.certificate-inner .b-item__price {
  color: #02903d;
}

/* Certificate 750px styles */

@media screen and (max-width: 1023px) {

  .search,
  .advanced-search,
  .b-thermometer,
  .b-sidebar,
  .b-catalog-item__aux {
    display: none;
  }

  .certificate {
    width: 710px;
    margin: 0 auto;
    padding-bottom: 33px;
  }

  .certificate-outer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .certificate-inner {
    width: 92%;
  }

  .certificate__top {
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .certificate__top b {
    font-size: 40px;
  }

  .certificate__image, 
  .certificate__content {
    float: none;
  }

  .certificate__image {
    width: 100%;
    text-align: center;
    margin-left: 11px;
    margin-bottom: 33px;
  }

  .certificate__content {
    width: auto;
    margin-left: 100px;
    margin-left: 100px;
  }

  .certificate__bottom {
    padding-bottom: 38px;
  }

  .certificate-inner .b-item__price {
    width: auto;
    padding-bottom: 36px;
  }

  .certificate-preview {
    padding-top: 40px;
  }

  .b-catalog-item__actions {
    text-align: center!important;
  }

  .certificate-outer .like_button {
    margin-bottom: 45px;
  }

  .b-catalog-item__actions .like_button {
    margin-left: 0!important;
  }

  .certificate__text {
    width: 710px;
    margin: 0 auto;
  }

  .certificate__text p {
    width: 710px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 70px;
    padding-bottom: 12px;
  }

}

/* Certificate 360px styles */

@media screen and (max-width: 749px) {

  .certificate {
    width: 360px;
  }

  .certificate-inner {
    width: 84%;
  }

  .certificate__top {
    padding-top: 24px;
    padding-bottom: 42px;
  }

  .certificate__top b {
    font-size: 30px;
  }

  .certificate__image {
    width: 260px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .certificate__image img {
    max-width: 100%;
  }

  .certificate__content {
    margin-left: 27px;
    padding-top: 17px;
  }

  .certificate__content a {
    display: block;
    font-size: 14px;
  }

  .certificate-inner h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .certificate-inner h2 {
    margin-bottom: 17px;
  }

  .certificate-inner .b-item__price {
    padding-top: 19px;
    padding-bottom: 28px;
  }

  .certificate__bottom {
    padding-bottom: 31px;
  }

  .certificate-outer .increase, 
  .certificate-outer button {
    display: block;
    margin: 0 auto;
  }

  .certificate-outer .increase {
    margin-bottom: 5px;
  }

  .b-catalog-item__limits {
    margin-left: 0!important;
  }

  .certificate-outer #btn_to_cart,
  .b-catalog-item__actions .btn {
    margin: 0 auto!important;
    margin-bottom: 20px!important;
  }

  .certificate-preview {
    padding-bottom: 25px;
  }

  .certificate__text {
    width: 360px;
  }

  .certificate__text p {
    width: 300px;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
  }

}