/* Certificate styles */

.certificate {
  width: 100%;
  min-height: 720px;
  padding-top: 30px;
  background-color: #ffd696;
}

.certificate-inner {
  width: 920px;
  min-height: 656px;
  margin: 0 auto;
  background-color: #334142;
  color: #fff;
}

.certificate__top b {
  font-size: 58px;
  font-weight: 700;
}

.certificate-inner h1 {
  line-height: 55px;
  margin-bottom: 5px;
  color: #fff!important;
}

.certificate-inner h2 {
  margin-bottom: 28px;
  padding-left: 5px;
  color: #848e8f!important;
}

.certificate-inner p {
  padding-left: 3px;
  margin-bottom: 0;
}

p.certificate__seller {
  font-size: 18px;
  margin-bottom: 12px;
}

.certificate__top {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 64px;
}

.certificate__image,
.certificate__content {
  float: left;
}

.certificate__image {
  width: 290px;
  margin-left: 41px;
  margin-right: 61px;
}

.certificate__content {
  width: 500px;
  padding-top: 3px;
}

.certificate__content a {
  color: #fff!important;
}

.certificate__content a:hover {
  color: #848e8f!important;
}

.certificate-inner .b-item__price {
  padding-top: 39px;
  padding-left: 3px;
  padding-bottom: 66px;
  color: #fff;
}

.certificate__content #ya_share {
  padding-left: 3px;
}

.certificate-preview {
  text-align: center;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 40px;
}

.certificate-preview__item {
  display: inline-block;
  vertical-align: top;
  width: 63px;
  height: 60px;
  margin-right: 3px;
  padding-top: 3px;
  border: 1px solid #848e8f;
}

.certificate-preview__item:last-child {
  margin-right: 0;
}

.certificate-preview__item img {
  max-width: 100%;
  max-height: 51px;
}

.certificate-outer .increase,
.certificate-outer button {
  display: inline-block;
  vertical-align: top;
}

.certificate-outer .like_button {
  display: block;
  margin-bottom: 40px;
}

.certificate__text {
  background-image: url("../images/image_2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.certificate__text p {
  width: 790px;
  margin: 0 auto;
  padding-top: 30px;
}