/* Certificate default styles */

.certificate {
  position: relative;
  width: 100%;
  min-height: 718px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../images/certificate_coral_bg.jpg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.certificate::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  opacity: 0.5;
}

.certificate-inner {
  overflow: hidden;
  width: 920px;
  min-height: 656px;
  margin: 0 auto;
  background-color: #334142;
  color: #fff;
}

.certificate__top {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 62px;
}

.certificate__top b {
  font-family: 'Open Sans',sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.certificate-inner h1 {
  line-height: 55px;
  word-wrap: break-word;
  margin-bottom: 5px;
  color: #fff!important;
}

.certificate-inner h2 {
  margin-bottom: 28px;
  padding-left: 5px;
  color: #848e8f!important;
}

.certificate-inner p {
  padding-left: 3px;
  margin-bottom: 0;
}

p.certificate__seller,
p.certificate__number {
  font-size: 18px;
  margin-bottom: 12px;
}

p.certificate__number {
  margin-top: 18px;
  margin-bottom: 2px;
}

.certificate__image,
.certificate__content {
  float: left;
}

.certificate__image {
  width: 290px;
  min-height: 1px;
  margin-left: 41px;
  margin-right: 61px;
}

.certificate__content {
  width: 500px;
  padding-top: 3px;
}

.certificate__content a {
  color: #fff!important;
}

.certificate__content a:hover {
  color: #ffa800!important;
}

.certificate-inner .b-item__price {
  padding-top: 39px;
  padding-left: 3px;
  padding-bottom: 66px;
  color: #fff;
}

.certificate__content #ya_share {
  padding-left: 3px;
  padding-bottom: 45px;
}

.certificate-preview {
  text-align: center;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 23px;
}

.certificate-preview__item {
  display: inline-block;
  vertical-align: top;
  width: 63px;
  height: 60px;
  margin-right: 3px;
  padding-top: 1px;
  border: 1px solid #ccc;
}

.certificate-preview__item:hover {
  opacity: 0.5;
}

.certificate-preview__item:last-child {
  margin-right: 0;
}

.certificate-preview__item img {
  max-width: 100%;
  max-height: 56px;
}

.certificate-outer .increase,
.certificate-outer button {
  display: inline-block;
  vertical-align: top;
}

.certificate-outer .increase {
  margin-right: 28px;
}

.certificate-outer .increase .b-increment-input__input[type=text] {
  width: 100px;
}

.certificate-outer .b-catalog-item__actions button {
  margin-top: 17px;
}

.certificate-outer #btn_to_cart {
  margin-right: 28px;
  margin-bottom: 36px;
}

.certificate-outer .like_button {
  display: block;
  margin-bottom: 43px; 
  padding-left: 27px;
}

.certificate__text {
  background-image: url("../images/certificate_line.png");
  background-repeat: no-repeat;
}

.certificate__text p {
  width: 873px;
  margin: 0 auto;
  padding-top: 32px;
  padding-right: 136px;
  padding-bottom: 6px;
}

/* Certificate light orange styles */

.certificate-inner {
  background-color: #f8f8f8;
  color: #000;
}

.certificate-inner h1 {
  color: #000!important;
}

.certificate__content a {
  color: #177a93!important;
}

.certificate-inner .b-item__price {
  color: #02903d;
}

/* Certificate light grey styles */

.certificate {
  background-image: url("../images/certificate_grey_bg.jpg");
}

.certificate-inner {
  background-color: #f8f8f8;
  color: #000;
}

.certificate-inner h1 {
  color: #000!important;
}

.certificate__content a {
  color: #177a93!important;
}

.certificate-inner .b-item__price {
  color: #02903d;
}

/* Certificate 750px styles */

@media screen and (max-width: 1023px) {

  .search,
  .advanced-search,
  .b-thermometer,
  .b-sidebar,
  .b-catalog-item__aux {
    display: none;
  }

  .certificate {
    width: 710px;
    margin: 0 auto;
    padding-bottom: 33px;
  }

  .certificate-outer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .certificate-inner {
    width: 92%;
  }

  .certificate__top {
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .certificate__top b {
    font-size: 40px;
  }

  .certificate__image, 
  .certificate__content {
    float: none;
  }

  .certificate__image {
    width: 100%;
    text-align: center;
    margin-left: 11px;
    margin-bottom: 33px;
  }

  .certificate__content {
    width: auto;
    margin-left: 100px;
    margin-left: 100px;
  }

  .certificate__bottom {
    padding-bottom: 38px;
  }

  .certificate-inner .b-item__price {
    width: auto;
    padding-bottom: 36px;
  }

  .certificate-preview {
    padding-top: 40px;
  }

  .b-catalog-item__actions {
    text-align: center!important;
  }

  .certificate-outer .like_button {
    margin-bottom: 45px; 
  }

  .b-catalog-item__actions .like_button {
    margin-left: 0!important;
  }

  .certificate__text {
    width: 710px;
    margin: 0 auto;
  }

  .certificate__text p {
    width: 710px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 70px;
    padding-bottom: 12px;
  }

}

/* Certificate 360px styles */

@media screen and (max-width: 749px) {

  .certificate {
    width: 360px;
  }

  .certificate-inner {
    width: 84%;
  }

  .certificate__top {
    padding-top: 24px;
    padding-bottom: 42px;
  }

  .certificate__top b {
    font-size: 30px;
  }

  .certificate__image {
    width: 260px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .certificate__image img {
    max-width: 100%;
  }

  .certificate__content {
    margin-left: 27px;
    padding-top: 17px;
  }

  .certificate__content a {
    display: block;
    font-size: 14px;
  }

  .certificate-inner h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .certificate-inner h2 {
    margin-bottom: 17px;
  }

  .certificate-inner .b-item__price {
    padding-top: 19px;
    padding-bottom: 28px;
  }

  .certificate__bottom {
    padding-bottom: 31px;
  }

  .certificate-outer .increase, 
  .certificate-outer button {
    display: block;
    margin: 0 auto;
  }

  .certificate-outer .increase {
    margin-bottom: 5px;
  }

  .b-catalog-item__limits {
    margin-left: 0!important;
  }

  .certificate-outer #btn_to_cart,
  .b-catalog-item__actions .btn {
    margin: 0 auto!important;
    margin-bottom: 20px!important;
  }

  .certificate-preview {
    padding-bottom: 25px;
  }

  .certificate__text {
    width: 360px;
  }

  .certificate__text p {
    width: 300px;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
  }

}

/* Read fragment default styles */

.read-fragment_button {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 12px;
  padding-left: 27px;
}

.read-fragment_button .pseudo-link {
  position: relative;
}

.read-fragment_button .pseudo-link:before {
  position: absolute;
  top: 3px;
  left: -15px;
  display: block;
  content: '';
  width: 11px;
  height: 14px;
  /* background-image: url(/themes/default/default/images/sprite.png); */
  background-image: url(../images/sprite.png);
  background-position: -288px -255px;
}

.popup-wrapper {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  background: rgba(0,0,0,.5);
}

.popup-wrapper--active {
  opacity: 1;
  z-index: 21;
}

.popup--default .popup--read-fragment {
  position: relative;
  top: 2%;
  width: 1180px;
  max-height: 98%; 
  padding: 20px 40px 10px 40px;
  margin: 0 auto;
}

.popup--default .read-fragment__page-number {
  font-size: 15px;
  text-align: left;
  margin-bottom: 52px;
  color: #666;
}

.popup--default .read-fragment__article {
  position: relative;
  max-height: 550px; 
  overflow: hidden;
  text-align: left;
  margin-bottom: 14px; 
  -moz-column-count: 2;
  -moz-column-gap: 78px;
  -webkit-column-count: 2;
  -webkit-column-gap: 78px;
  column-count: 2;
  column-gap: 78px;
}

.popup--default .read-fragment__article h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
  color: #000;
}

.popup--default .read-fragment__article h3 {
  font-size: 18px;
  margin-bottom: 11px;
  color: #28282c;
}

.popup--default .read-fragment__article p {
  font-size: 13px;
  line-height: 20px;
  padding-right: 28px;
  padding-bottom: 10px;
  color: #000;
}

.popup--default .read-fragment__article img {
  padding-bottom: 30px;
}

.popup--default .read-fragment__paginator {
  position: relative;
  margin-bottom: 10px;
}

.popup--default .read-fragment__paginator input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  background-color: #fff;
  border: none;
}

.popup--default .read-fragment__paginator input[type="range"]::-moz-range-track {
  height: 2px;
  background-color: #fff;
  border: none;
}

.popup--default .read-fragment__paginator input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background-color: #ffa800;
  border-radius: 50%;
  cursor: pointer;
}

.popup--default .read-fragment__paginator input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: #ffa800;
  border-radius: 50%;
  cursor: pointer;
}

.popup--default .popup--read-fragment__left-arrow,
.popup--default .popup--read-fragment__right-arrow {
  position: absolute;
  top: 51%; 
  content: "";
  display: block;
  width: 12px;
  height: 22px;
  background-image: url("../images/preview/default_read-fragment_arrow.png");
}

.popup--default .popup--read-fragment__left-arrow {
  left: -32px;
}

.popup--default .popup--read-fragment__left-arrow:hover {
  background-image: url("../images/preview/default_read-fragment_arrow-active.png");
  transform: rotate(180deg);
  cursor: pointer;
}

.popup--default .popup--read-fragment__right-arrow {
  right: -32px;
  transform: rotate(180deg);
}

.popup--default .popup--read-fragment__right-arrow:hover {
  background-image: url("../images/preview/default_read-fragment_arrow-active.png");
  transform: rotate(360deg);
  cursor: pointer;
}

.popup--default .popup--read-fragment {
  background-color: #efece7;
  border-bottom: 4px solid #343434;
  box-shadow: none;
}

.popup--default .read-fragment__paginator input[type="range"] {
  width: 100%;
}

.popup--default .popup--read-fragment__close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 37px;
    height: 37px;
    border: 2px solid #ffa800;
    border-radius: 50%;
    cursor: pointer;
}

.popup--default .popup--read-fragment__close:hover {
  background-color: #ffa800;
}

.popup--default .popup--read-fragment__close::before,
.popup--default .popup--read-fragment__close::after {
    position: absolute;
  top: 16px;
  left: 7px;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.popup--default .popup--read-fragment__close::before {
  transform: rotate(45deg);
}

.popup--default .popup--read-fragment__close::after {
  transform: rotate(-45deg);
}


/* Увеличение картинки при клике по ней */

.certificate__image img {
  max-width: 290px;
  cursor: pointer;
}

.image-increase {
  position: fixed;
  top: 5%;
  left: 25%;
  display: none;
  width: 50%;
  height: 90%;
  text-align: center;
  z-index: 101;
}

.image-increase img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.image-increase--active {
  display: block;
  pointer-events: none;
}

.image-increase--active img {
  pointer-events: auto;
}

.image-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 100;
}

.image-overlay--active {
  display: block;
  cursor: pointer;
}

/* END - Увеличение картинки при клике по ней */


/* Read fragment 750px styles */

@media screen and (max-width: 1279px) {

  .popup--default .popup--read-fragment {
    width: auto;
    max-width: 1180px;
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .popup--default .read-fragment__article {
    -moz-column-count: 1;
    /* -moz-column-gap: 72px; */
    -webkit-column-count: 1;
    /* -webkit-column-gap: 72px; */
    column-count: 1;
    /* column-gap: 72px; */
  }

  .popup--default .popup--read-fragment__left-arrow,
  .popup--default .popup--read-fragment__right-arrow {
    display: none;
  }

}

@media screen and (max-width: 1023px) {

  .read-fragment_button {
    margin-bottom: 14px;
  }

  .b-catalog-item__actions .read-fragment_button {
    margin-left: 0!important;
  }

}


/* Product characteristics (default theme) */

.tabs.tabs--noskin .tab__trigger {
  padding: 0 45px 0 0!important;
}

.tabs.tabs--noskin .tab__trigger:last-of-type {
  padding: 0!important;
}

.tabs.tabs--noskin .tab__content>.content, .tabs.tabs--noskin .tab__content>.content_pkp {
  padding-top: 8px!important;
}

.product-characteristics {
  margin-top: 45px;
}

.product-characteristics table {
  font-size: 13px;
  color: #666;
}

.product-characteristics table tr > td:first-child {
  width: 228px;
  font-weight: 700;
  color: #000;
}

.product-characteristics table td {
  padding-bottom: 7px;
}


/* Advanced search filters (default theme) */

.b-advanced-search__submit {
  
}


/* Reviews default styles */

.reviews-button {
  position: relative;
  left: -20px;
  width: 213px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffa800;
  border: 2px solid #ffa800;
  border-radius: 20px;
  outline: none;
}

.reviews-button:hover {
  background-color: #ffa800;
  color: #fff;
}

.reviews-list__review {
  font-size: 13px;
  margin-top: 37px;
}

.reviews-list__review-rating {
  position: relative;
  top: -1px;
  display: inline-block;
  margin-right: 5px;
}

.review-rating__label {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 15px;
  margin-right: 1px;
  background-image: url("../images/sprite.png");
  cursor: pointer;
}

.review-rating__label--full {
  background-position: -380px -25px;
}

.review-rating__label--empty {
  background-position: -380px -73px;
}

.reviews-list__review-name,
.answers-list__answer-name {
  position: relative;
  font-weight: 700;
  margin-right: 12px;
}

.reviews-list__review-name::after,
.answers-list__answer-name::after {
  position: absolute;
  top: 3px;
  right: -8px;
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background-color: #ccc;
}

.reviews-list__review time {
  margin-right: 10px;
}

.reviews-list__review a {
  text-decoration: none;
  border-bottom: 1px dotted #177a93;
}

.reviews-list__review a:hover {
  border-bottom: 1px dotted #ffa800;
}

.reviews-list__review p {
  max-width: 630px;
  margin-top: 10px;
}

.answers-list {
  position: relative;
  margin-top: 25px;
  padding-left: 50px;
}

.answers-list::before {
  position: absolute;
  top: -6px;
  left: 29px;
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #ffa800;
}

.answers-list__answer {
  margin-top: 10px;
  padding-bottom: 8px;
}

.answers-list__answer p {
  margin-bottom: 0;
}